# URL base del microservicio de autenticacion (service-auth)
VITE_AUTH_API_URL=http://localhost:3001/api/v1

# URL base del microservicio de productividad (service-productivity)
VITE_PRODUCTIVITY_API_URL=http://localhost:3002/api/v1
